




 <div class="job-view-card" onclick="location.href='base.html'"style="cursor: pointer;">
      <ul>
  
      <li><h5  style="color: green;text-align: left;">Quality Assurance Engineer (Fan & Electric Motor)</h5></li>
      <li><h6>Walton Hi-Tech Industries</h6></li>
      <li><img src="location-pin.svg" alt="" style="width: 30px;height: 30px;padding: 5px;"  > Gazipur </li>
      <li><img src="cap.svg" alt="" style="width: 30px;height: 30px;padding: 5px;"  >  B.Sc. in EEE/ IPE from any reputed university. </li>
      <li><img src="bfcase.png" alt="" style="width: 30px;height: 30px;padding: 5px;"  > At least 4 year(s) </li>
  
      </ul>
    </div>














{% comment %} 



<title> job detail </title>
<h1>Post: {{job.title }}</h1>
<h2>Category: {{job.category}} </h2>

<ul>

<li>Educational Requirements: {{job.education_rqr}}</li>
<li> Location: {{job.location}} </li>
<li>Age Limit: Age at most {{job.max_age}} </li>
<li>Experience Requirements:
{% if job.experience == 0 %} No experience required. Freshers can also apply.
{% else %} at least {{job.experience}} years 
 {% endif %}</li>
<li> Application Deadline: {{job.deadline}} </li>
<li> Compnay : {{job.recruiter.company}} </li>
</ul> {% endcomment %}









   

   

    
   
    
    
